body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/soldador1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  

  .form-container {
    width: 500px;
    height: fit-content;
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
  }

  .form-container a{
    text-decoration: none;
  }

  p{
    text-align: justify;
  }